# Lines that start with '#' are comments.

*.[oa]
src/failsafe.c
src/device/device.c
src/distribute/proxies.c
src/distribute/cloud.c
src/distribute/ftp.c
src/actions_sorted.h
src/actions.out
mac/build
android/Filement.androidstudio/build
Makefile
src/external/gnutls.compile
src/Makefile
src/distribute/authorize.c
src/proxy/Makefile
src/proxy/notify.c
src/proxy/proxy_dev
src/proxy/proxy_production
src/pubcloud/main.c
src/storage_mysql.h
include/gnutls
include/libavcodec
include/libavformat
include/libavutil
config.log

src/distribute/ipdb/blocks.csv
src/distribute/ipdb/ipdb.c
src/distribute/ipdb/location.csv

bin/*
filement.dmg
filement.apk
lib/*
share/filement/background.png
share/filement/logo.png
gui/applications
gui/icons
