[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Filement
Comment=Server that lets you access to your data from filement.com.
Comment[fr]=Serveur qui vous permet d'acceder vos données sur filement.com.
Exec=filement-gtk
Icon=filement.png
Terminal=false
Categories=GTK;Network;
